NET clk LOC = C9;
NET reset LOC = K17;
NET "Data_En" LOC = M18 | IOSTANDARD = "LVCMOS33" | DRIVE = 4 | SLEW = SLOW;
NET "RS" LOC = L18 | IOSTANDARD = "LVCMOS33" | DRIVE = 4 | SLEW = SLOW;
NET "RW" LOC = L17 | IOSTANDARD = "LVCMOS33" | DRIVE = 4 | SLEW = SLOW;
NET "instruction<0>" LOC = R15 | IOSTANDARD = "LVCMOS33" | DRIVE = 4 | SLEW = SLOW;
NET "instruction<1>" LOC = R16 | IOSTANDARD = "LVCMOS33" | DRIVE = 4 | SLEW = SLOW;
NET "instruction<2>" LOC = P17 | IOSTANDARD = "LVCMOS33" | DRIVE = 4 | SLEW = SLOW;
NET "instruction<3>" LOC = M15 | IOSTANDARD = "LVCMOS33" | DRIVE = 4 | SLEW = SLOW;
NET "clk" PERIOD = 20.0ns HIGH 50%;